{% extends "base.html" %}
{% load static %}

{% block content %}
<h1 align="center"> About Us </h1>
<p> Hello! Thank you for coming to our website! We hope you find what you are looking for!</p>
<p> Our Mission: We are 6 computer science students that attend California State University, Los Angeles. We made this
    website to make book viewing and purchasing easier for students like us! </p>
<p> Our passions: We are passionate in many fields of computer science which include:</p>
<li>Artificial Intelligence</li><br>
<li>Software Engineering</li><br>
<li>Web Development</li>
{% endblock content %}



{% block sidenav %}
    {% for item in item_list %}
        <li>
            <a href="{{ item.link }}"> {{ item.item }} </a>
        </li>
    {% endfor %}
{% endblock sidenav %}