{% extends "base.html" %}
{% load static %}

{% block title %}
Send Private Message
{% endblock title %}

{% block content %}
{% if submitted %}
<h1 align="center"> Message Box </h1>
{% else %}
<h1 align="center"> Send Private Message</h1>
    {% if error == '1' %}
        <p>Receiver does not exist</p>
    {% endif %}
    <form action="" enctype="multipart/form-data" method="post" novalidate>
        <input style="text" type="hidden" value="{{user.username}}">
        {{form.as_p}}
        <button type="submit" name="submit" class="btn btn-primary" value="Submit"> Send</button>
        {% csrf_token %}
    </form>
<br>
{% endif %}
{% endblock content %}