{% extends "base.html" %}
{% load static %}

{% block title %}
Message Box
{% endblock title %}

{% block content %}
<h1 align="center"> Message Box </h1>
      {% for message in messages %}
<div class="card text-center mb-3 border-primary">
    <div class="card-header">
        <b>Posted by {{ message.username }}</b>
    </div>
    <div class="card-body">
        <p class="card-text"> {{ message.message }}</p>
    </div>
</div>
      {% endfor %}
<a class="btn btn-primary" href="book_message" role="button">Add Message</a>
<h1 align="center"> Private Message Box </h1>
  <table class="table table-bordered border-primary">
          <thead>
        <tr align="center">
            <th scope="col">Message</th>
            <th scope="col">From</th>
        </tr>
    </thead>
      {% for imessage in imessages %}
        <tr align="center">
            <td>{{ imessage.message }} </td>
            <td>{{ imessage.username }} </td>
        </tr>
      {% endfor %}
  </table>
<a class="btn btn-primary" href="book_imessage" role="button">Send Message</a>
<br>
<br>
{% endblock content %}