{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1 align="center"> Search For A Book In Our System</h1>
<br>
    <form action="{% url 'search' %}" method="GET" value="{{request.GET.b}}">
        <div class="mb-3">
            <input type="text" class="form-control" name="b" value="{{request.GET.b}}" placeholder="Search Books by Title Or Username"/>
        </div>
        <div align="center">
            <button type="submit" name="submit" class="btn btn-primary btn-lg" value="Search"> Search </button>
        </div>
        </form>
<br>


        {% if submitbutton == 'Search' and request.GET.b != ''%}
            {% if results %}
                <h1 align="center">Results for <b>{{ request.GET.b }}</b></h1>
                <br>
                <table class="table table-bordered border-primary table-hover">
                    <thead>
                        <tr align="center">
                            <th scope="col">Book Name</th>
                            <th scope="col">Book Image</th>
                            <th scope="col">Author</th>
                        </tr>
                    </thead>
                {% for result in results %}
                    <tr align="center">
                    <td>
                        <a class= "btn btn-primary" href="book_detail/{{ result.id }}" role="button"> {{ result.name }} </a>
                    </td>
                    <td>
                        <img src="{% static result.picture_path %}" width="80" height="80">
                    </td>
                    <td>
                        {{ result.username }}
                    </td>
                    </tr>
                {% endfor %}
                </table>
                <br>
                   {% else %}
                    <h1 align="center">Book does not exist in system!</h1>
                    <br>
            {% endif %}
        {% endif %}
    </div>
{% endblock content %}
{% block sidenav %}
    {% for item in item_list %}
        <li>
            <a href ="{{ item.link }}"> {{ item.item }} </a>
        </li>
    {% endfor %}
{% endblock sidenav %}